<div class="jumbotron">
  <div class="container">
    <div class="centre">
      <h1 >Craigslist Scraper</h1>
      <h2>The easiest way to find appartment rentals in Brooklyn</h2>
      <%= render 'filter' %>
    </div>
  </div>
</div>
